---
- hosts: hypervisor
  become: true
  vars_files:
    - ../../../vars/hypervisor_vars.yml
  tasks:

    # Setup libvirts authorization using polkit
    - name: Setup libvirts authorization using polkit
      template:
        src: ../../../templates/libvirt-manage.rules.j2
        dest: /etc/polkit-1/rules.d/80-libvirt-manage.rules

    # Restart polkit
    - name: Restart polkit
      service:
        name: polkit
        state: restarted
