DEVICE={{ device }}
HWADDR={{ hwaddr }}
BOOTPROTO={{ bootproto }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=no
IPV6_AUTOCONF=no
{% if bootproto == 'static' %}
IPADDR={{ ip_addr }}
GATEWAY={{ gateway }}
{% for dns in dns_servers %}
DNS{{ loop.index }}={{ dns }}
{% endfor %}
{% endif %}
