---
#tasks file for infra_server_kvm_cloud_create

# Create Directories
- name: Create Directories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - "{{ vm_root_dir }}"
    - "{{ vm_keys_dir }}"
    - "{{ vm_xml_dir }}"

# Get Cloud Image
- name: Get Cloud Image
  copy:
    src: "{{ cloud_image_path }}"
    dest: "{{ vm_tmp_disk }}"
    force: no
    remote_src: yes

# Check for LVM Storage Configuration
- name: Check for LVM Storage Configuration
  set_fact:
    provision_lvm: "{{ vm_volume_groups is defined and vm_volume_groups|length > 0 and vm_logical_volumes is defined and vm_logical_volumes|length > 0 }}"

# Set Image Root Password
- name: Set Image root password
  command: virt-customize -a {{ vm_tmp_disk }} --root-password password:root

# Remove Cloud Init Package from Cloud image
- name: Remove Cloud Init Package from Cloud image
  command: virt-customize -a {{ vm_tmp_disk }} --uninstall cloud-init

# Include Encrypted Variables
- name: Include Encrypted Variables for the Subscription Manager
  include_vars:
    file: sm_cred.yml
    name: sm_cred
  when:
    - "'redhat' in vm_osinfo_id" 
    - provision_lvm == true

# Install lvm2 package if we need LVM Storage
# Register to Subscription Manager if a Red Hat Image
- name: Register to Subscription Manager if a Red Hat Image and LVM is required
  command: virt-customize -a {{ vm_tmp_disk }} --sm-register --sm-credentials {{ sm_cred.sm_username }}:password:{{ sm_cred.sm_password }} --sm-attach auto
  register: r_sm
  when:
    - "'redhat' in vm_osinfo_id"
    - provision_lvm == true
  failed_when:
    - r_sm.rc == 1
    - r_sm.stderr is not search("This system is already registered")

# Install lvm2
- name: Install lvm2
  command: virt-customize -a {{ vm_tmp_disk }} --install lvm2
  when: provision_lvm == true

# Unregister from Subscription Manager if a Red Hat Image
- name: Unregister from Subscription Manager if a Red Hat Image and LVM is required
  command: virt-customize -a {{ vm_tmp_disk }} --sm-unregister
  when:
    - "'redhat' in vm_osinfo_id"
    - provision_lvm == true

# Create root ssh key pair
- name: Create root ssh key pair
  openssh_keypair:
    path: "{{ vm_keys_dir }}/{{ vm_name }}_root"

# Inject Public key to root
- name: Inject Public key to root
  command: virt-customize -a {{ vm_tmp_disk }} --ssh-inject root:file:{{ vm_keys_dir }}/{{ vm_name }}_root.pub

- name: Create Disks
  command: qemu-img create -f {{ vm_disk_format }} {{ vm_root_dir }}/{{ vm_name }}_{{ vm_disk_create.device }}.{{ vm_disk_format }} -o preallocation=metadata,compat=1.1 {{ vm_disk_create.size }}
  loop: "{{ vm_disks }}"
  loop_control:
    extended: yes
    loop_var: vm_disk_create

# Resize Cloud Image.
- name: Resize Cloud Image
  command: virt-resize --no-extra-partition {{ vm_tmp_disk }} {{ vm_root_dir }}/{{ vm_name }}_{{ vm_disks[0].device }}.{{ vm_disk_format }}

# Relabel fs
- name: Relabel FS
  command: virt-customize -a {{ vm_root_dir }}/{{ vm_name }}_{{ vm_disks[0].device }}.{{ vm_disk_format }} --selinux-relabel

- name: Process Default Cloud Partition - Resize to "{{ vm_default_partition.size }}" "{{ vm_default_partition.unit }}"
  gfs_part:
    image_path: "{{ vm_root_dir }}/{{ vm_name }}_{{ vm_default_partition.device }}.{{ vm_disk_format }}"
    device: "{{ vm_default_partition.device }}"
    number: "{{ vm_default_partition.part_num }}"
    #fstype: "{{ vm_default_partition.fstype }}"
    size: "{{ vm_default_partition.size }}"
    unit: "{{ vm_default_partition.unit }}"
    resize: true
    state: present

# Create Partitions
- name: Create Partitions
  gfs_part:
    image_path: "{{ vm_root_dir }}/{{ vm_name }}_{{ vm_part.device }}.{{ vm_disk_format }}"
    device: "{{ vm_part.device }}"
    number: "{{ vm_part.part_num }}"
    #fstype: "{{ vm_part.fstype }}"
    size: "{{ vm_part.size }}"
    unit: "{{ vm_part.unit }}"
    state: present
  loop: "{{ vm_partitions }}"
  loop_control:
    label: "Partition {{ vm_part.part_num }} of device {{ vm_part.device }} - {{ vm_part.size }} {{ vm_part.unit }}"
    extended: yes
    loop_var: vm_part

# Create Volume Groups
- name: Create Volume Groups
  gfs_lvg:
    image_paths: "{{ vm_root_dir|pvs_dict_to_imagepath_list(vm_name, volgroup.pvs, vm_disk_format) }}"
    vg: "{{ volgroup.vg }}"
    pvs: "{{ volgroup.pvs|pvs_dict_to_pvs_list }}"
    state: present
  loop: "{{ vm_volume_groups }}"
  loop_control:
    label: "Volume Group {{ volgroup.vg }}"
    extended: yes
    loop_var: volgroup
  when: provision_lvm == True

# Create Logical Volume
- name: Create Logical Volume
  gfs_lv:
    image_paths: "{{ vm_root_dir|pvs_dict_to_imagepath_list(vm_name, vm_volume_groups|selectattr('vg', 'equalto', logicalvol.vg)|map(attribute='pvs')|list|first, vm_disk_format) }}"
    lv: "{{ logicalvol.lv }}"
    vg: "{{ logicalvol.vg }}"
    size: "{{ logicalvol.size }}"
    unit: "{{ logicalvol.unit }}"
    state: present
  loop: "{{ vm_logical_volumes }}"
  loop_control:
    label: "Logical Volume {{ logicalvol.lv }}"
    extended: yes
    loop_var: logicalvol

# Check if Hypervisor and Cloud Image are on same OS version
- name: Check if Hypervisor and Cloud Image are on same OS version
  set_fact:
    hypervisor_and_cloud_image_not_same: "{{ ansible_facts['distribution'] not in vm_osinfo_id and ansible_facts['distribution_version'] not in vm_osinfo_id}}"

# Setup Default Filesystem
- name: Setup Default Filesystem
  gfs_fs:
    image_paths: "{{ vm_root_dir }}/{{ vm_name }}_{{ vm_default_partition.device }}.{{ vm_disk_format }}"
    device: "{{ vm_default_filesystem.device }}"
    device_type: "{{ vm_default_filesystem.type }}"
    use_image_mkfs_xfs: "{{ hypervisor_and_cloud_image_not_same and vm_default_filesystem.fstype == 'xfs' }}"
    fstype: "{{ vm_default_filesystem.fstype }}"
    mountpoint: "{{ vm_default_filesystem.mountpoint }}"
    state: resize

# Setup filesystems
- name: Setup Filesystems
  gfs_fs:
    image_paths: "{{ vm_root_dir|disk_list_to_imagepath_list(vm_name, vm_disks, vm_disk_format) }}"
    device: "{{ filesystem.device }}"
    device_type: "{{ filesystem.type }}"
    use_image_mkfs_xfs: "{{ hypervisor_and_cloud_image_not_same and filesystem.fstype == 'xfs' }}"
    fstype: "{{ filesystem.fstype }}"
    mountpoint: "{{ filesystem.mountpoint }}"
    state: present
  loop: "{{ vm_filesystems }}"
  loop_control:
    label: "Filesystem {{ filesystem.device }} - FSTYPE {{ filesystem.fstype }} - Mountpoint {{ filesystem.mountpoint }}"
    extended: yes
    loop_var: filesystem

# Set hostname
- name: Set hostname
  command: virt-customize -a {{ vm_root_dir }}/{{ vm_name }}_{{ vm_disks[0].device }}.{{ vm_disk_format }} --hostname {{ vm_hostname }}

- name: Set vm_macs array to empty
  set_fact:
    vm_generated_mac_addresses: []

- name: Generate MAC Addresses
  set_fact:
    vm_generated_mac_addresses: "{{ vm_generated_mac_addresses }} + [ '{{ vm_mac_prefix|random_mac }}' ]"
  loop: "{{ vm_interfaces }}"
  loop_control:
    label: "{{ netifg_genmac.nic_id }}"
    loop_var: netifg_genmac

# Create VM
- name: Template VM
  template:
    src: libvirt_vm_cloud.xml.j2
    dest: "{{ vm_xml_dir }}/{{ vm_name }}.xml"

- name: Define vm from XML
  virt:
   command: define
   xml: "{{ lookup('file', '{{ vm_xml_dir }}/{{ vm_name }}.xml') }}"

# Start the VM
- name: Start VM
  virt:
    name: "{{ vm_name }}"
    state: running

# Clean up vendor cloud image
- name: Delete Vendor Cloud Image
  file:
    path: "{{ vm_tmp_disk }}"
    state: absent
